/*
you can refer to any element with a class name but you idNames are specific
*/

/*This is a type name */
#name {
  color: green;
}

p {
  font-size: 15px
}

/*
https://www.w3schools.com/colors/colors_palettes.asp

.container-fluid {
  background-color: lightcoral;
}

.container {
  background-color: lightcoral;
}
*/
