/*
you can refer to any element with a class name but you idNames are specific
*/

/*This is a type name */
#name {
  color: green;
}

p {
  font-size: 18px
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

li span {
  font-weight: normal; 
}

body .booklist {
  font-weight: bold;
  font-size: 15px;
}